* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
  object-fit: cover;
  max-width: 100%;
}

body{
  background: #f8f4eb;
}

.header{
  height: 100vh;
}

.container{
  background: url("https://res.cloudinary.com/dkngsthge/image/upload/v1705672912/EvolveText_fflrsj.png");
  background-position: left;
  background-repeat: no-repeat;
  padding: 0 12%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  align-items: center;
  z-index: 10;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  height: 60px;
  padding: 10px 12%;
}

.contain .navbar .flex img{
  width: 100%;
}


.menu{
  display: flex;
  flex: 1;
  margin-left: 50px;
}

.menu .menulist .menu-bar{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu .menulist ul li a{
  color: #5e0000;
  text-transform: capitalize;
}

.navbar .btn{
  display: flex;
  align-items: center;
}

.navbar .btn a{
  margin-right: 20px;
  color: #000;
}

.navbar .btn .btn-search{
  outline: none;
  border: none;
  background: #ffc235;
  color: #000;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  padding: 6px 20px;
  transition: 0.2s ease;
}

.navbar .btn .btn-search:hover,
.navbar .btn .btn-search:active{
  background: #ff6b66;
  color: #fff;
}


.container .company .evolve{
  margin: 0px;
}

.container .company .evolve h1{
  font-size: 70px;
  text-transform: uppercase;
  color: #5e0000;
  font-weight: 700;
}

.container .company .evolve h3{
  font-size: 36px;
  text-transform: lowercase;
  color: #ffa6a3;
  font-weight: 200;
  margin-bottom: 10px;
}

.container .company .evolve p{
  font-size: 16px;
  text-transform: capitalize;
  color: #ff6b66;
  font-weight: 400;
  line-height: 1.5;
}


.container .company .reg{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container .company .reg .join{
  padding: 5px 20px;
  background-color: #ffc235;
  color: #000;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #ff6b66;
  transition: 0.2s ease;
}

.container .company .reg .join:hover{
  background-color: #ff6b66;
  color: #fff;
  box-shadow: 0px 0px 4px #ffc235;
}

.container .company .reg a:nth-child(2){
  color: #ff6b66;
  text-decoration: underline;
}


.classes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  align-items: center;
  gap: 1rem;
  padding: 0px 12%;
}



.load{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-transform: capitalize;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}





@media screen and (max-width: 480px) {
  .menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: auto;
    background-color: #ffa6a3;
    transform: translateX(100%);
  }

  .menu .menulist .menu-bar{
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    width: 100%;
  }

  .container {
    padding: 0 5%;
    grid-template-columns: repeat(1,1fr);
    gap: 0.5rem;
    z-index: 10;
  }

  .classes {
    display: flex;
    flex-direction: column-reverse;
   /* grid-template-columns: repeat(auto-fit, minmax(360px, auto)); */
    gap: 0.5rem;
    padding: 0px 2%;
    margin-top: 50px;
  }

.container .company .evolve h1 {
  font-size: 45px;
  }

.container .company .evolve h3 {
  font-size: 26px;
  }

.container .company .evolve p {
  line-height: 1.2;
  }

.container .company .reg {
  margin-top: 10px;
  gap: 1rem;
  }

  .navbar .btn .btn-search {
  font-size: 14px;
  padding: 6px 12px;
  }

  .navbar .btn a {
    margin-right: 5px;
    color: #000;
  }

  .navbar {
    padding: 10px 5%;
  }
  
}